{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
 {% endblock %}

{% block content %}
<form class="form-inline my-2 my-lg-0"  method="get">
    {{ filter.form}}
    <button class="btn btn-info my-2 my-sm-0" type="submit">{% trans 'Поиск'%}</button>
</form>
<div class="row row-cols-1 row-cols-md-3 mt-5">
        {% for account in accounts %}
        <div class="col mb-4">
            <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    <b>{% trans 'Псевдоним' %}:</b>
                    <a href="{% url 'accounts:account_detail' pk=account.pk %}">
                        {{ account.username }}
                    </a>
                </h5>
                <p>{% trans 'Был создан' %}: {{ account.created_at }}</p>
                {% if perms.accounts.can_delete_user %}
                    <a href="{% url 'accounts:account_delete' pk=account.pk %}" class="btn btn-danger">
                        {% trans 'Удалить' %}
                    </a>
                {% endif %}
                {% if perms.accounts.can_delete_user or account == request.user %}
                    <a href="{% url 'accounts:account_update' pk=account.pk %}" class="btn btn-secondary">
                        {% trans 'Редактировать' %}
                    </a>
                {% endif %}

            </div>
            </div>
        </div>
  {% endfor %}
</div>

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
