{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
 {% endblock %}

{% block content %}
                <h5 class="card-title"> <b>{% trans 'Псевдоним' %}:</b> {{ account.username }}</h5>
                {% if account.get_full_name %}
                    <p>{% trans 'ФИО' %}: {{ account.get_full_name }}</p>
                {% endif %}
                <p>{% trans 'Был создан' %}: {{ account.created_at }}</p>
                <p>{% trans 'Был обновлен' %}: {{ account.updated_at }}</p>
                <p>{% trans 'Электронный адресс' %}: <a href="mailto:{{ account.email }}">{{ account.email }}</a></p>
                {% if perms.accounts.can_delete_user %}
                    <a href="{% url 'accounts:account_delete' pk=account.pk %}" class="btn btn-danger">
                        {% trans 'Удалить' %}
                    </a>
                {% endif %}
                {% if perms.accounts.can_delete_user or account == request.user %}
                    <a href="{% url 'accounts:account_update' pk=account.pk %}" class="btn btn-secondary">
                        {% trans 'Редактировать' %}
                    </a>
                {% endif %}
                {% if account == request.user %}
                    <a href="{% url 'accounts:account_change_password' %}" class="btn btn-secondary">
                        {% trans 'Сменить пароль' %}
                    </a>
                {% endif %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
