{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
 {% endblock %}


{% block content %}
{% if articles %}
    <form class="form-inline my-2 my-lg-0"  method="get">
        {{ filter.form}}
        <button class="btn btn-info my-2 my-sm-0" type="submit">{% trans 'Поиск'%}</button>
    </form>
    <div class="row row-cols-1 row-cols-md-3 mt-5">
            {% for article in articles %}
            <div class="col mb-4">
                <div class="card text-black bg-light mb-3">
                    {% if article.image %}
                        <img src="{{ article.image.url }}" class="card-img-top" alt="{% trans 'Изображение статьи'%}"
                             width='350' height="200">
                    {% else %}
                        <img src="{% static 'img/article_default.jpg' %}" class="card-img-top" alt="{% trans 'Изображение статьи'%}"
                            width='350' height="200">
                    {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        <b>{% trans 'Заголовок' %}:</b>
                        <a href="{% url 'news:article_detail' pk=article.pk%}">
                            {{ article.title }}
                        </a>
                    </h5>
                    <p>{% trans 'Была создана' %}: {{ article.created_at }}</p>
                    <p>
                        {% trans 'Категория' %}:
                        {% if article.category_id %}
                            <a href="{% url 'news:article_category_list' pk=article.category_id.pk %}">
                                {{ article.category_id.title }}
                            </a>
                        {% else %}
                            {% trans 'Нет.' %}
                        {% endif %}
                    </p>
                {% if perms.news.can_change_article or article.user_id == request.user %}
                    <a href="{% url 'news:article_update' pk=article.pk %}" class="btn btn-secondary">
                        {% trans 'Редактировать' %}
                    </a>
                {% endif %}
                {% if perms.news.can_delete_article %}
                    <a href="{% url 'news:article_delete' pk=article.pk %}" class="btn btn-danger">
                        {% trans 'Удалить' %}
                    </a>
                {% endif %}
                </div>
                </div>
            </div>
      {% endfor %}
    </div>
{% else %}
    <h5>{% trans 'Кажется тут совсем нет новостей, приходите позже :С' %}</h5>
{% endif %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
